:80 {
	encode gzip

	handle /auth/* {
		reverse_proxy auth-service:3001
	}

	handle /rest/* {
		reverse_proxy data-api:3002
	}

	handle /mail/* {
		reverse_proxy mail-service:3004
	}

	handle /hooks/* {
		reverse_proxy deploy-hook:3005
	}

	handle /admin/projects {
		reverse_proxy auth-service:3001
	}

	handle /admin/users* {
		reverse_proxy auth-service:3001
	}

	handle /admin/invites* {
		reverse_proxy auth-service:3001
	}

	handle /admin/api-keys {
		reverse_proxy auth-service:3001
	}

	handle /admin/mail/* {
		reverse_proxy mail-service:3004
	}

	handle_path /admin/* {
		reverse_proxy admin:3003
	}

	handle {
		redir * /admin/ 308
	}
}
